/*Header and body*/

body{
    font-family: 'Quicksand', sans-serif;
}

header{
  background-color: #3498db;
  padding: 5px;
}

/*Form styles*/

.form-group {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border:3px solid #3498db;
  border-top: none;
  padding: 1rem 0;
}

.form-group > div{
  flex-basis: 20rem
}

.form-actions{
  margin-top: 2rem;
  text-align: center;
}

input[type=text], input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/*  */





table{
    border-collapse: collapse;
    width: 95%;
    margin: auto;

}

 td {
    border-bottom: 1px solid #ddd;
    height: 20px;
    text-align: right;
  }

  

  

  .alert{
    background-color: #e74c3c;
    padding: 1px 10px;
    margin-top: 5px;

  }

  .alert p {
    /* font-size: 1.5em; */
    color: white;
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button-danger {
    background-color: #e74c3c;
  }

  th {
    background-color: #3498db;
    color: white;
    height: 30px;
    text-align: right;
  }

  #tbl{
    border:1px solid grey;
    margin-top: 15px;
  }

  h1{
    text-align: center;
  }
  

  

  @media(max-width:40rem){
    .form-group {
     flex-direction: column;
     
    }
    .form-group > div{
      flex-basis: auto;
      margin: 1rem
    }
  }